:root {
	--color-blanco: #ffffff;
	--color-negro: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-header{
    background-color: #7D5A50;
    height: 5vh;
}

.header-abajo{
    background-image: linear-gradient(to bottom right, #020202d7, #02020254), url(../../imagenes/fondo-header.jpg);
    height: 95vh;
    background-size: cover;
    background-position: bottom;
}

.header-abajo a img{
    width: 7rem;
    object-fit: cover;
}

.header-abajo ul{
    list-style-type: none;
}

.offcanvas.offcanvas-end{
    left: 0 !important;
    transform: translateX(-100%);
}

/*Main*/
.productos{
    height: 50vh;
}

.imagen-estatica{
    background-image: linear-gradient(to bottom right, #02020265, #02020254), url(../../imagenes/copacabana.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    min-height: 50vh;
}

.informacion-iconos{
    min-height: 50vh;
    border-bottom: 1px solid gray;
}

.informacion-iconos div{
    width: 20rem;
    transition: all .2s ease-in-out;
}

.informacion-iconos i{
    font-size: 5rem;
}

.informacion-iconos i:hover{
    transform: translateY(-8px);
}

.informacion-iconos p{
    height: 5rem;
}

/* MODAL INGRESO*/

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 430px;
	width: 100%;
	background: #ffffff;
	border-radius: 7px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.container .registration {
	display: none;
}
#check:checked ~ .registration {
	display: block;
}
#check:checked ~ .login {
	display: none;
}
#check {
	display: none;
}
.container .form {
	padding: 2rem;
}
.form header {
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
	margin-bottom: 1.5rem;
}
.form input {
	height: 50px;
	width: 100%;
	padding: 0 15px;
	font-size: 17px;
	margin-bottom: 1.3rem;
	border: 1px solid #ddd;
	border-radius: 6px;
	outline: none;
}
.olvidar-contraseña{
	position: relative;
	top: 1rem;
}

.form input:focus {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.form a {
	font-size: 16px;
	color: var(--color-grisOscuro);
	text-decoration: none;
}
.form a:hover {
	text-decoration: underline;
}
.form input.button {
	color: #fff;
	background: var(--color-negro);
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 1px;
	margin-top: 1.7rem;
	cursor: pointer;
	transition: 0.4s;
}
.form input.button:hover {
	background: var(--color-negro);
	transform: scale(0.9, 0.9);
}
.signup {
	font-size: 17px;
	text-align: center;
}
.signup label {
	color: var(--color-negro);
	cursor: pointer;
}
.signup label:hover {
	text-decoration: underline;
}
/* Contraseña */
.inputBox {
	position: relative;
	width: 100%;
	height: 40px;
}
.inputBox i.pw-hide {
	right: 25px;
	cursor: pointer;
	position: absolute;
	top: 90%;
	transform: translateY(-93%);
	font-size: 18px;
}
/* Fin Contraseña */

/* FIN MODAL DE INGRESO */

/*Footer*/
footer{
    min-height: 50vh;
}

.imagen-footer, .informacion-compañia, .informacion-contacto{
    width: 15rem;
}

.imagen-footer img{
    width: 5rem;
}
