*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-header{
    background-color: #7D5A50;
    height: 5vh;
}

.header-abajo{
    background-image: linear-gradient(to bottom right, #020202d7, #02020254), url(../../imagenes/fondo-header.jpg);
    height: 95vh;
    background-size: cover;
    background-position: bottom;
}

.header-abajo a img{
    width: 7rem;
    object-fit: cover;
}

.header-abajo ul{
    list-style-type: none;
}

.offcanvas.offcanvas-end{
    left: 0 !important;
    transform: translateX(-100%);
}

/*Main*/
.productos{
    height: 50vh;
}

.imagen-estatica{
    background-image: linear-gradient(to bottom right, #02020265, #02020254), url(../../imagenes/copacabana.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    min-height: 50vh;
}

.informacion-iconos{
    min-height: 50vh;
    border-bottom: 1px solid gray;
}

.informacion-iconos div{
    width: 20rem;
    transition: all .2s ease-in-out;
}

.informacion-iconos i{
    font-size: 5rem;
}

.informacion-iconos i:hover{
    transform: translateY(-8px);
}

.informacion-iconos p{
    height: 5rem;
}